@model Department

<h2>@Model.DepartmentName Detail<a class="btn btn-primary" href="/Department/Index">Back to Department List</a>
</h2>

<ul class="list-group list-group-flush">
  <li class="list-group-item"></b>FirstName: @Model.DepartmentName</li>
  <li class="list-group-item">Salary: @Model.Salary</li>
</ul>